.menu-banner {
  width: 100vw;
  height: 18vh;
  background-color: brown;
  position: relative;
}

.menu-banner-text {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  position: absolute;
  bottom: 2px;
  left: 10px;
}

.servings {
  margin-left: 20px;
  margin-right: 20px;
}

.menu-section {
  background-color: chocolate;
}

.menu-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.food-item {
  display: flex;
  width: 100vw;
}

.food-item > p,
.food-item > aside {
  flex: 1;
}

@media screen and (max-width: 800px) {
  .menu-banner {
    width: 100vw;
    height: 18vh;
    background-color: brown;
    position: relative;
  }

  .menu-banner-text {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    position: absolute;
    bottom: 2px;
    left: 10px;
  }

  .servings {
    margin-left: 20px;
    margin-right: 20px;
  }

  .menu-section {
    background-color: chocolate;
  }

  .menu-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .food-item {
    display: flex;
    width: 100vw;
  }

  .food-item > p,
  .food-item > aside {
    flex: 1;
  }
}
