.menu-banner {
  width: 100vw;
  height: 18vh;
  background-color: chocolate;
  position: relative;
}

.menu-banner-text {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  position: absolute;
  bottom: 2px;
  left: 10px;
}

.to-action {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.to-action-btn1 {
  padding: 1rem;
  background: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50px;
}
.to-action-btn2 {
  padding: 1rem;
  background: #fff;
  color: #111;
  border: 1px solid #111;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50px;
}

.servings {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.menu-item > h2 {
  color: turquoise;
}

.menu-item {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.food-item {
  display: flex;
  width: 100%;
}

.food-item > p,
.food-item > aside {
  flex: 1;
}

@media screen and (max-width: 800px) {
  .menu-banner {
    width: 100vw;
    height: 18vh;
    background-color: chocolate;
    position: relative;
  }

  .menu-banner-text {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    position: absolute;
    bottom: 2px;
    left: 10px;
  }

  .servings {
    margin-left: 20px;
    margin-right: 20px;
  }

  .menu-section {
  }

  .menu-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .food-item {
    display: flex;
    width: 100vw;
  }

  .food-item > p,
  .food-item > aside {
    flex: 1;
  }
}
