.service-card {
  padding: 1rem;
  width: 100%;
  border-radius: 33px;
  background: #fff;
  box-shadow: 15px 15px 30px #dbdbdb, -15px -15px 30px #ffffff;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.s-img {
  width: 200px;
  height: 200px;
}

.article-desc {
  margin-top: 20px;
  max-width: 70%;
}

@media only screen and (max-width: 900px) {
  .service-card {
    width: 80vw;
    border-radius: 30px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .article-desc {
    display: none;
  }

  .article-heading {
    margin-bottom: 0.5rem;
    color: #161616;
  }
}
